@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notification-container {
  z-index: 100;
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;
  transform: translateY(-80px);
  transition: transform 400ms ease-out;
}
.notification-container.show-notification {
  transform: translateY(0px);
}
.notification-container .notification {
  width: fit-content;
  background-color: #d4edda;
  border: #c3e6cb 1px solid;
  color: #155724;
  border-radius: 5px;
  padding: 5px 5px;
  font-family: roboto;
  font-weight: 500;
  font-size: 0.9rem;
}

.loader-bg {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.599);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-bg img {
  width: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5% 0;
  width: 100%;
}
.header .user-details {
  height: fit-content;
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 5px 15px;
  border-radius: 20px;
  position: relative;
}
.header .user-details .whoAreYou {
  position: absolute;
  bottom: calc(100% + 3px );
  left: 10px;
  color: #c9c9c9;
  font-size: 0.7rem;
}
.header .user-details .change-username {
  position: absolute;
  bottom: calc(100% + 1px);
  right: 20px;
  color: #c0c0c0;
  cursor: pointer;
  font-size: 0.85rem;
}
.header .user-details .user-icon {
  height: fit-content;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 100px;
}
.header .user-details .user-icon svg, .header .user-details .user-icon img {
  width: 3rem;
  height: 3rem;
}
.header .user-details .username {
  font-size: 0.7rem;
  font-family: "roboto";
  font-weight: 700;
  color: #8f8f8f;
  position: relative;
}
.header .user-details .player-xo {
  display: none;
}
.header .user-details .player-xo img {
  width: 3rem;
}
.header .change-username-container {
  position: absolute;
  top: calc(100% + 15px);
  width: 100%;
}
.header .change-username-container input {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.header .change-username-container input:focus {
  outline: none;
}
.header .change-username-container button {
  background-color: #6200EE;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5rem;
  font-family: "roboto";
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}
.header .change-username-container button:focus {
  outline: none;
}
.header .heading {
  height: fit-content;
  text-align: center;
  color: #5f5f5f;
  font-family: "Comforter Brush";
}

.container {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.container .button-primary {
  background-color: transparent;
  color: #252525;
  padding: 10px 10px;
  border: 2px solid #000000;
  width: 12rem;
  margin: 15px 0;
}
.container .button-primary:focus {
  outline: none;
}
.container .button-primary:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.container .input-container {
  margin-top: 3rem;
  height: 100%;
}
.container .input-container .join-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.container .input-container .join-room .input-warning {
  transition: opacity 200ms;
}
.container .input-container .join-room .input-warning span {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff4b4b;
}
.container .input-container .join-room .input-warning.hide {
  transition: opacity 1ms;
  opacity: 0;
}
.container .input-container .join-room .join-room-btn {
  width: 8rem;
  margin-top: 0;
}
.container .input-container .join-room .room-code-input {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #343434;
  width: 12rem;
  font-size: 0.8rem;
}
.container .input-container .join-room .room-code-input:focus {
  outline: none;
}
.container .board-container {
  width: 100%;
  margin-top: 3rem;
}
.container .board-container .room-info {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
}
.container .board-container .svg-container {
  padding-bottom: 50px;
}
.container .board-container .svg-container .cross,
.container .board-container .svg-container .circle {
  opacity: 0;
  transition: opacity 300ms;
}
.container .board-container .svg-container .cross.show,
.container .board-container .svg-container .circle.show {
  opacity: 1;
}
.container .board-container .svg-container .frame {
  cursor: pointer;
}
.container .board-container .leave-room-btn {
  text-align: center;
  margin-top: 10px;
}

.d-none {
  display: none !important;
}

.hide {
  opacity: 0 !important;
}

/*# sourceMappingURL=styles.css.map */
